<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Add session request</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example">

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/phome"><span style="color: green;">H</span>S P</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/phome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/pprofile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/pabout">About developer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create-request">Create request</a>
                </li>
            </ul>
            <span class="navbar-text">
                  <div th:text = "'Welcome to HospitalSystem, ' + ${currentPatient.name}"></div>
                </span>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success" href="/plogout">Log out</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white mt-4">
                <div class="card-body p-5">
                    <form class="mb-3 mt-md-4" method="post" action = "#" th:action = "@{/create-request}" th:object = "${requestModel}">
                        <h2 class="fw-bold mb-2 text-uppercase "><span style="color: green;">N</span>ew session request</h2>
                        <p class=" mb-5">Please enter your problem, desired doctor and time of start and end.</p>
                        <div class="mb-3">
                            <label for="name" class="form-label ">What hurts?</label>
                            <input  class="form-control"  id="name" name="name" type="text" placeholder="Enter the problem" required="required" autofocus th:field = "*{sessionName}">
                        </div>
                        <div class="mb-3">
                            <label for="plannedStart" class="form-label ">choose start time</label>
                            <input class="form-control"  id="plannedStart" name="plannedStart" type="time" step="1" placeholder="Start time" required="required" autofocus th:field = "*{startTime}">
                        </div>
                        <div class="mb-3">
                            <label for="plannedEnd" class="form-label ">choose end time</label>
                            <input class="form-control"  id="plannedEnd" name="plannedEnd" type="time"  step="1" placeholder="planned End" required="required" autofocus th:field = "*{endTime}">
                        </div>
                        <div class="mb-3">
                            <label for="dropOperator" class="form-label ">choose doctor</label>
                            <div class="input-group">
                                <select class="form-select" data-live-search="true"  th:field="*{doctorId}" id="dropOperator"><!-- th:text="${doctor.dType + ':' + doctor.name + ' ' + patients.surname}" -->
                                    <option value="0">Choose...</option>
                                    <option th:each="doctor : ${doctors}" th:value="${doctor.did}" th:text="${doctor.dType} + ':' + ${doctor.name} + ' ' + ${doctor.surname}" ></option>
                                </select>
                            </div>
                        </div>
                        <!--  th:value="${doctorname.did}"  th:text="${doctorname.did}" autofocus th:field = "*{doctor}"-->
                        <select class="form-control" type hidden th:field="*{patientId}" id="drop">
                            <option th:value ="${currentPatient.pid}">
                            </option>
                        </select>

                        <div class="d-grid">
                            <button class="btn  btn-primary mt-2" type="submit">Create</button>
                        </div>
                        <div class="d-grid">
                            <a href="/phome" class="btn btn-secondary mt-2">return</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
<!-- End of Bootstrap script -->
</body>
