<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnePlan Startup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4"  method="post" action = "#" th:action = "@{/pregistration}" th:object = "${patientRegistrationDto}">
                            <h2 class="fw-bold mb-2 text-uppercase "><span style="color: green;">H</span>ospital System Registration - P</h2>
                            <p class=" mb-5">Please enter your data!</p>
                            <div class = "alert alert-warning" th:if="${patientRegistrationSubmit}" th:text="${patientRegistrationSubmit}"></div>
                            <div class="mb-3">
                                <label for="pid" class="form-label ">PID(number you would like to be your id)</label>
                                <input type="number" class="form-control" id="pid" name="pid" placeholder="123" required="required" autofocus th:field = "*{pid}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label ">E-mail</label>
                                <input  id="email"  class="form-control" name="email" type="email" placeholder="email" required="required" autofocus th:field = "*{email}">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label ">Name</label>
                                <input  id="name"  class="form-control" name="name" type="text" placeholder="Name" required="required" autofocus th:field = "*{name}">
                            </div>
                            <div class="mb-3">
                                <label for="surname" class="form-label ">Surname</label>
                                <input  id="surname"  class="form-control" name="surname" type="text" placeholder="surname" required="required" autofocus th:field = "*{surname}">
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label ">Age</label>
                                <input  id="age"  class="form-control" name="age" type="number"  required="required" autofocus th:field = "*{age}">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Password</label>
                                <input id="password"  class="form-control" name="password" type="password" placeholder="Enter the password" required="required" autofocus th:field = "*{password}">
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label ">Repeat password</label>
                                <input id="password1"  class="form-control" name="password1" type="password" placeholder="Re-enter the password" required="required" autofocus th:field = "*{rPassword}">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit">Register</button>
                            </div>
                        </form>
                        <div> <form action="/plogin"><p class="mb-0  text-center">Already have an account? <button type="submit" class="text-primary fw-bold">Sign
                            In</button></p></form>

                        </div>
                        <div  class="mb-3 mt-md-4" >
                            <form action="/dlogin">
                                <p class="mb-0  text-center">Are you a doctor? <button type="submit"
                                                                                        class="btn btn-info">Sign
                                    In As Doctor</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>

